
@font-face {
    font-family: 'PT_SansWebRegular';

    src: url(../../assets/fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: 'PT_SansWebBold';

    src: url(../../assets/fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
    font-family: 'PT_SansWebItalic';

    src: url(../../assets/fonts/PT_Sans-Web-Italic.ttf);
}