.reviews {
    min-width: 1200px;
    height: 635px;
    background-color: #fff;
}

.reviews_inner {
    position: relative;
    padding-top: 50px;
}

.reviews_title {
    text-align: center;
    h3 {
        position: relative;
        display: inline-block;
        font: 30px 'PT_SansWebBold';
        color: #13161b;
        text-transform: uppercase;
        span {
            color: #c5d31a;
        }
        &:after {
            position: absolute;
            bottom: -20px;
            left: 28%;
            width: 92px;
            height: 4px;
            content: '';
            background: url(../images/title_line.jpg);
        }
    }
}

.bxslider li {
    width: 1000px;
    height: 360px;
}

.rev_slider_wrap {
    margin-top: 78px;
}

.r_left_side {
    float: left;
    width: 475px;
    height: 340px;

    @include pie-clearfix;
}

.r_right_side {
    float: right;
    width: 475px;
    height: 340px;

    @include pie-clearfix;
}

.slide_inner {
    color: #3a3d43;
}

.pesrson_info {
    @include pie-clearfix;
    img {
        float: left;
        margin-right: 25px;
    }
    div {
        padding-top: 45px;
        span {
            font: 21px 'PT_SansWebBold';
            line-height: 30px;
            text-transform: uppercase;
        }
        b {
            font: 14px 'PT_SansWebBold';
            line-height: 26px;
            text-transform: uppercase;
        }
        p {
            font: 13px 'PT_SansWebRegular';
            line-height: 21px;
        }
    }
}

.block_review {
    position: relative;
    width: 475px;
    height: 140px;
    padding: 11px 20px;
    margin-top: 40px;
    font: italic 14px 'PT_SansWebItalic';
    line-height: 21px;
    border: 4px solid #e9e9e9;
    &:before {
        position: absolute;
        top: -16px;
        left: 62px;
        width: 24px;
        height: 17px;
        content: '';
        background: url(../images/review_arrow_icon.jpg);
    }
}

#slider-prev {
    position: absolute;
    top: 245px;
    left: -95px;
    &:hover {
        width: 55px;
        height: 173px;
        background: url(../images/slider_left_arrow-hover.png);
    }
}

#slider-next {
    position: absolute;
    top: 245px;
    right: -95px;
    &:hover {
        width: 55px;
        height: 173px;
        background: url(../images/slider_right_arrow-hover.png);
    }
}

.bx-wrapper .bx-pager.bx-default-pager {
    margin-top: 28px;
    margin-left: 474px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    float: left;
    width: 17px;
    height: 17px;
    margin: 0 5px;
    font-size: 0;
    border: 3px solid #e9e9e9;
    outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    border: 3px solid #c5d31a;
}
